
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(141, 60, 3);
  background-color: #DEDEDE;
  background-image: url('assets/coffee4.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 30%;
  background-position-y: bottom;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  height: 40px;
  width: 150px;
  margin: 15px;
  border: 2px solid #D2691E;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

img {
  height: 290px;
  width: 290px;
}


